<div class="col-md-8"><form>
  <div class="form-group">
    <label for="exampleInputName1">Full Name</label>
    <input type="name" class="form-control" id="exampleInputName1" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" rows="8" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> I have read and understand the disclaimer about submissions.
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
