<!-- /* Jumbotron */ -->
<div class="container">
  <div class = "row">
    <div class = "jumbotron">
      <div class="col-md-6">
      <h2><span style="color: #337ab7; font-family: 'Oswald', sans-serif;">Civil litigation, focusing on consumer protection law. It's all I've done for about 20 years.</span></h2>
      <p>Based in Beverly Hills, Law Office of Brandon A. Block has brought and defended scores of individual and class action consumer law and civil cases throughout California. The firm's cases have provided thousands of consumers with over $100 million in relief, generally on a contingency basis, at no cost to clients.</p>
      </div>
      <div class-"col-md-6">
      <%= image_tag("bab2013.png", alt: "main image") %>
      </div>
    </div>
  </div>
</div>

<!-- /* Panels */ -->
<div class="container">
  <div class ="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Repossession Law</div>
        <div class="panel-body">A creditor can repossess a car only if the contract allows it, and the repossessor must complete the repossession without a breach of the peace. Even after a legal repossession, the creditor must provide notice to a consumer of his or her rights.</div>
        <div class="panel-footer clearfix text-center"><a href="#" class="btn btn-primary">Learn More</a></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Debt Collector Harassment</div>
        <div class="panel-body">Companies must abide by the fair debt collection laws when attempting to collect money or property. Violations of those laws include filing suit on a time-barred debt and false threats of arrest or wage garnishment.</div>
        <div class="panel-footer clearfix text-center"><a href="#" class="btn btn-primary">Learn More</a></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Debt Collection Defense</div>
        <div class="panel-body">Consumers often are confronted with a lawsuit based on an old debt, or a lawsuit brought by a “debt buyer” they never heard of prior to being sued. Fortunately, there are viable options for consumers in collection matters.</div>
        <div class="panel-footer clearfix text-center"><a href="#" class="btn btn-primary">Learn More</a></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Civil Litigation</div>
        <div class="panel-body">Laws protect individuals and businesses from unfair practices and competitive harm. Enforcing those laws is not always cost-prohibitive, but rather disputes can be resolved in an efficient, pragmatic and thoughtful manner.</div>
        <div class="panel-footer clearfix text-center"><a href="#" class="btn btn-primary">Learn More</a></div>
      </div>
    </div>
  </div>
</div>

<!-- /* Get started */ -->
<div class="container">
  <div class ="row row-centered">
    <div class="col-md-4">
      <h3>Get Started</h3>
    </div>
  </div>
</div>
